.header {
  padding: 10px;
  background-color: #f0f0f0;
  position: sticky;
  top: 0;
}

.searchInput {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}
  
.booksGrid {
  display: grid;
  gap: 16px; /* Espaciado entre las tarjetas */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 3 columnas como maximo, se ajusta a menos en pantallas más pequeñas */
  justify-content: center; /* Centrar la cuadrícula horizontalmente */
  padding: 16px;
  margin: 0 auto;
  max-width: 1200px; /* Limitar el ancho máximo para mantener un diseño centrado */
}
@media (max-width: 900px) {
  .booksGrid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adaptar el tamaño de las columnas en pantallas más pequeñas */
  }
}
  
.loadMoreButton {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #007bff; /* Azul de fondo */
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
.loadMoreButton:hover {
  background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

.floatingButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Asegura que esté sobre otros elementos */
}


.searchContainer {
  position: relative;
}

.toggleButton {
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
}



.searchForm {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%; /* Asegúrate de que el formulario no se expanda más allá del contenedor */
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Asegúrate de que el formulario esté por encima de otros elementos */
  overflow: hidden; /* Oculta cualquier contenido que se desborde */
}

.searchInput {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 16px); /* Asegúrate de que el campo de entrada se ajuste al contenedor, considerando el padding */
}

.searchButton {
  background-color: #5a8ec5;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  width: calc(100% - 16px); /* Asegúrate de que el botón se ajuste al contenedor, considerando el padding */
}

.searchButton:hover {
  background-color: #708499;
}